* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

.section {
    height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
    border-bottom: 1px solid black;
}

.footer-container {
    height: 300px;
    background-color: #1d1d1d;
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
}

.footer-container h2 {
    color: white;
}
