* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

.container {
    width: 100%;
    position: relative;
}

.content-container {
    width: 100%;
    height: 100%;
}

.section, .section2, .section3, .section4{
    height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
    border-bottom: 1px solid black;
}

.section {
    background-color: white;
}
.section2 {
    background-color: #f0ebe5;
}
.section3 {
    background-color: #f9f7f7;
}
.section4 {
    background-color: white;
}

.footer-container {
    height: 300px;
    background-color: #1d1d1d;
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
}

.footer-container h2 {
    color: white;
}